body{
    background-image: url("https://i0.wp.com/picjumbo.com/wp-content/uploads/beautiful-beach-free-image-after-sunset-sky-free-photo.jpeg?w=2210&quality=70");
    background-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: antiquewhite;
}
h2{
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}
#Increment-btn{
    background: linear-gradient(45deg, #ff512f, #dd2476);;
    border-radius: 50px;
    border-color: none;
    border-width: 0px;
    height: 100px;
    width: 300px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large
}
#save-btn{
    background: linear-gradient(90deg, #00C9FF, #92FE9D);
    width: 300px;
    height: 100px;
    border-radius: 50px;
    border-width: 0px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
#save-el{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#Decrement-btn{
    background: linear-gradient(to right, #11998e, #38ef7d);
    width: 300px;
    height: 100px;
    border-width: 0px;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}